.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div {
    width: 300px;
}
dialog{
    margin: auto;
    padding: 30px;
    border: none;
    border-radius: 10px;
    width: 200px;
}